@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    
}
.col{
    background-color: darkcyan;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2{
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3;
}

.col h2:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
} 

.col button{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3;
}
.col button:hover{
    background-color: rgba(0,0,0,0.1);
}
.marker{
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
